<html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            var google_array = {{ google_array | safe }}
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChart_zero);

            var options_global = {
                title: 'Elevation Profile',
                curveType: 'function',
                interpolateNulls: true,
                legend: { position: 'bottom' },
                vAxis: { format: '#,### m' },
                hAxis: { format: '##.# km' }
                // animation: {
                //     startup: true,
                //     duration: 1000,
                //     easting: 'out'
                // },
                // explorer: {}
            };

            function drawChart() {
                google_array.forEach(function(part, index, arr) {
                    if (index > 0) {
                        arr[index][0] = arr[index][0] / 1000; // Turn meters into kilometers
                    }
                });
                var data = google.visualization.arrayToDataTable(google_array);

                var options = options_global;

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                // var chart = new google.charts.Line(document.getElementById('curve_chart'));

                chart.draw(data, options);
                // chart.draw(data, google.charts.Line.convertOptions(options));
            }

            function drawChart_zero() {
                google_array_zeroed = []; // Must create a new array, otherwise we will alter the original, non-zero one
                google_array_zeroed.push(google_array[0]);
                index_of_zero = []
                for (var i = 1; i < google_array.length; i++) {
                    google_array_zeroed.push([]);
                    google_array_zeroed[i].push(google_array[i][0]);
                    for (var j = 1; j < google_array[i].length; j++) {
                        if (google_array[i][j] == null) {
                            google_array_zeroed[i][j] = null;
                            continue;
                        }
                        if ((typeof index_of_zero[j] == 'undefined') && (google_array[i][j] !== null)) {
                            index_of_zero[j] = i
                        }
                        if (typeof index_of_zero[j] !== 'undefined') {
                            google_array_zeroed[i].push(google_array[i][j] - google_array[index_of_zero[j]][j]);
                        } else {
                            google_array_zeroed[i].push(null)
                        }
                    }
                }

                var data = google.visualization.arrayToDataTable(google_array_zeroed);

                var options = options_global;
                options['title'] = 'Elevation Profile (Zeroed)';

                var chart_zero = new google.visualization.LineChart(document.getElementById('curve_chart_zero'));

                chart_zero.draw(data, options);
            }
        </script>
    </head>
    <body>
        <a href="/">< Compare again</a>
        <div id="curve_chart" style="width: 2000px; height: 1000px"></div>
        <div id="curve_chart_zero" style="width: 2000px; height: 1000px"></div>
    </body>
</html>
