{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}
    <form method="POST">
        Strava 1:
        <select name="type_1" id="type_1">
            <option value=""></option>
            <option value="activities" selected="selected">Activities</option>
            <option value="routes">Routes</option>
            <option value="segments">Segments</option>
        </select>
        <input type="text" name="id_1" id="id_1" value="1154876561" />
        <br/>

        Strava 2:
        <select name="type_2" id="type_2">
            <option value=""></option>
            <option value="activities">Activities</option>
            <option value="routes">Routes</option>
            <option value="segments" selected="selected">Segments</option>
        </select>
        <input type="text" name="id_2" id="id_2" value="1561756" />
        <br/>

        Strava 3:
        <select name="type_3" id="type_3">
            <option value=""></option>
            <option value="activities" selected="selected">Activities</option>
            <option value="routes">Routes</option>
            <option value="segments">Segments</option>
        </select>
        <input type="text" name="id_3" id="id_3" value="692109037" />
        <br/>

        Strava 4:
        <select name="type_4" id="type_4">
            <option value=""></option>
            <option value="activities" selected="selected">Activities</option>
            <option value="routes">Routes</option>
            <option value="segments">Segments</option>
        </select>
        <input type="text" name="id_4" id="id_4" value="1143019789" />
        <br/>

        Strava 5:
        <select name="type_5" id="type_5">
            <option value=""></option>
            <option value="activities">Activities</option>
            <option value="routes" selected="selected">Routes</option>
            <option value="segments">Segments</option>
        </select>
        <input type="text" name="id_5" id="id_5" value="10433757" />
        <br/>

        Strava 6:
        <select name="type_6" id="type_6">
            <option value=""></option>
            <option value="activities">Activities</option>
            <option value="routes">Routes</option>
            <option value="segments">Segments</option>
        </select>
        <input type="text" name="id_6" id="id_6" value="" />
        <br/>

        <input type="submit" name="submit" id="submit" value="Submit" />
    </form>
{% endblock %}
