<!DOCTYPE html />
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />

        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <body>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
